@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }

    #text-animate {
        -webkit-text-stroke: .7px #00abf0;
    }

    #contact form textarea:focus~.focus,
    #contact form .box .field input:focus~.focus,
    #contact form .box .field input:valid~.focus {
        width: 100%;
    }

    header.sticky {
        @apply bg-bgColor
    }
}
